@import "styleConstants";

.overallContainer {
  background: $color-white;
  text-align: center;
  width: 100vw;

}

.mainContainer {
  font-family: 'Roboto', sans-serif;
  margin: auto auto 96px auto;
  position: relative;
  width: 90%;
}

.header {
  //-webkit-box-shadow: 0 8px 6px -6px $color-light-gray;
  //-moz-box-shadow: 0 8px 6px -6px $color-light-gray;
  //box-shadow: 0 8px 6px -6px $color-light-gray;
  height: 80px;
  margin-bottom: 40px;
}

.colWrapper {
  display: flex;
}

.leftCol {
  width: 50%;
}

.rightCol {
  text-align: center;
  width: 50%;
}

.screenshot {
  border-radius: 8px;
  box-shadow: 0 8px 6px 6px $color-light-gray;
  width: 400px;
  margin-bottom: 30px;
}

.logo {
  margin-left: 10px;
  margin-bottom: 60px;
  width: 200px;
}

.title {
  color: $color-blue-gray;
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.smallTitle {
  color: $color-blue-gray;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.description {
  color: $color-blue-gray;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 10px;
  margin-bottom: 0;
}

.descriptionThick {
  color: $color-blue-gray;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.waitlist {
  margin: 30px 10px 10px 10px;
}

.waitlistInput {
  border: 1px solid $color-light-gray;
  border-radius: 8px;
  color: $color-blue-gray;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 48px;
  margin-right: 4px;
  padding: 0 8px;
  width: 50%;
}

.waitlistErrorInput {
  border: 1px solid $color-fire-red;
  border-radius: 8px;
  color: $color-blue-gray;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  height: 48px;
  margin-right: 4px;
  padding: 0 8px;
  width: 50%;
}

.waitlistSubmitButton {
  background: $color-beach-blue;
  border: 1px solid $color-beach-blue;
  border-radius: 8px;
  color: $color-white;
  font-size: 18px;
  margin: auto;
  padding: 8px;
  text-decoration: none;
  height: 48px;
}

.waitlistStatusText {
  padding: 10px;
}

.integrations {
  margin: 100px 0;
  text-align: left;
}

.integrationLogo {
  margin: 10px;
}

@media only screen and (max-width: 1000px) {
  .mainContainer {
    width: 100%;
    padding-bottom: 64px;
    margin: auto;
  }

  .header {
    text-align: center;
  }

  .colWrapper {
    display: block;
  }

  .leftCol {
    text-align: center;
    width: 100%;
  }

  .rightCol {
    text-align: center;
    width: 100%;
  }

  .waitlist {
    text-align: center;
    margin: 20px 0;
  }

  .waitlistInput {
    margin-bottom: 10px;
    width: 200px;
  }

  .screenshot {
    width: 260px;
  }

  .waitlistSubmitButton {
    margin-bottom: 40px;
    width: 216px;
  }

  .integrations {
    text-align: center;
  }
}