$color-black: #000000;
$color-white: #FFFFFF;
$color-blue-gray: #2F4050;
$color-dark-gray: #595959;
$color-light-gray: #E3E3E3;
$color-background-gray: #F8F8F8;
$color-beach-blue: #50C5DC;
$color-ocean-blue: #207AF1;
$color-sun-yellow: #FCB415;
$color-leaf-green: #05C792;
$color-fire-red: #FF4143;
$color-purple: #A21A68;
$color-pink-purple: #E7D3DE;
$color-lavender: #7655DA;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");